.elementor-kit-49 {
    --e-global-color-primary: #F65000;
    --e-global-color-secondary: #FBA880;
    --e-global-color-text: #002768;
    --e-global-color-accent: #333333;
    --e-global-color-6ac2033e: #FF8547;
    --e-global-color-261191d0: #FFCCB3;
    --e-global-color-21dea28f: #D14600;
    --e-global-color-470c3ae: #A83800;
    --e-global-color-0f4d749: #00348F;
    --e-global-color-bf91b88: #0043B8;
    --e-global-color-5a524fd: #001842;
    --e-global-color-d6c0146: #000B1F;
    --e-global-color-35afe31: #656565;
    --e-global-color-6d87091: #9B9B9B;
    --e-global-color-c33a7d3: #D6D6D6;
    --e-global-color-0632d80: #F0F0F0;
    --e-global-color-df7a7b3: #FFFFFF;
    --e-global-color-1252101: #000000;
    --e-global-typography-primary-font-family: "Mulish";
    --e-global-typography-primary-font-size: 3.5rem;
    --e-global-typography-primary-font-weight: 700;
    --e-global-typography-primary-line-height: 1.2em;
    --e-global-typography-secondary-font-family: "Mulish";
    --e-global-typography-secondary-font-size: 2.5rem;
    --e-global-typography-secondary-font-weight: 700;
    --e-global-typography-secondary-line-height: 1.2em;
    --e-global-typography-text-font-family: "Mulish";
    --e-global-typography-text-font-size: 2rem;
    --e-global-typography-text-font-weight: 700;
    --e-global-typography-text-line-height: 1.2em;
    --e-global-typography-accent-font-family: "Mulish";
    --e-global-typography-accent-font-size: 1.625rem;
    --e-global-typography-accent-font-weight: 600;
    --e-global-typography-accent-line-height: 1.2em;
    --e-global-typography-fbbc48b-font-family: "Mulish";
    --e-global-typography-fbbc48b-font-size: 1.375rem;
    --e-global-typography-fbbc48b-font-weight: 600;
    --e-global-typography-fbbc48b-line-height: 1.4em;
    --e-global-typography-37ba192-font-family: "Mulish";
    --e-global-typography-37ba192-font-size: 1.125rem;
    --e-global-typography-37ba192-font-weight: 600;
    --e-global-typography-37ba192-line-height: 1.4em;
    --e-global-typography-cb73680-font-family: "Mulish";
    --e-global-typography-cb73680-font-size: 1.25rem;
    --e-global-typography-cb73680-font-weight: 400;
    --e-global-typography-cb73680-line-height: 1.6em;
    --e-global-typography-97f23ed-font-family: "Mulish";
    --e-global-typography-97f23ed-font-size: 1.125rem;
    --e-global-typography-97f23ed-font-weight: 400;
    --e-global-typography-97f23ed-line-height: 1.6em;
    --e-global-typography-4ac3fe2-font-family: "Mulish";
    --e-global-typography-4ac3fe2-font-size: 1rem;
    --e-global-typography-4ac3fe2-font-weight: 400;
    --e-global-typography-4ac3fe2-line-height: 1.6em;
    --e-global-typography-8bf0baa-font-family: "Mulish";
    --e-global-typography-8bf0baa-font-size: 1.125rem;
    --e-global-typography-8bf0baa-font-weight: 600;
    --e-global-typography-8bf0baa-text-transform: capitalize;
    --e-global-typography-8bf0baa-line-height: 1em;
    --e-global-typography-1ddaafb-font-family: "Mulish";
    --e-global-typography-1ddaafb-font-size: 1rem;
    --e-global-typography-1ddaafb-font-weight: 600;
    --e-global-typography-1ddaafb-text-transform: capitalize;
    --e-global-typography-1ddaafb-line-height: 1em;
    --e-global-typography-1ddaafb-letter-spacing: 0px;
    color: var( --e-global-color-accent );
    font-family: var( --e-global-typography-97f23ed-font-family ), Sans-serif;
    font-size: var( --e-global-typography-97f23ed-font-size );
    font-weight: var( --e-global-typography-97f23ed-font-weight );
    line-height: var( --e-global-typography-97f23ed-line-height );
    letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
    word-spacing: var( --e-global-typography-97f23ed-word-spacing );
}

.elementor-kit-49 p {
    margin-bottom: 0.75em;
}

.elementor-kit-49 a {
    color: var( --e-global-color-bf91b88 );
}

.elementor-kit-49 a:hover {
    color: var( --e-global-color-21dea28f );
}

.elementor-kit-49 h1 {
    color: var( --e-global-color-1252101 );
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size );
    font-weight: var( --e-global-typography-primary-font-weight );
    line-height: var( --e-global-typography-primary-line-height );
}

.elementor-kit-49 h2 {
    color: var( --e-global-color-1252101 );
    font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size );
    font-weight: var( --e-global-typography-secondary-font-weight );
    line-height: var( --e-global-typography-secondary-line-height );
}

.elementor-kit-49 h3 {
    color: var( --e-global-color-1252101 );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
    line-height: var( --e-global-typography-text-line-height );
}

.elementor-kit-49 h4 {
    color: var( --e-global-color-1252101 );
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    line-height: var( --e-global-typography-accent-line-height );
}

.elementor-kit-49 h5 {
    color: var( --e-global-color-1252101 );
    font-family: var( --e-global-typography-fbbc48b-font-family ), Sans-serif;
    font-size: var( --e-global-typography-fbbc48b-font-size );
    font-weight: var( --e-global-typography-fbbc48b-font-weight );
    line-height: var( --e-global-typography-fbbc48b-line-height );
    letter-spacing: var( --e-global-typography-fbbc48b-letter-spacing );
    word-spacing: var( --e-global-typography-fbbc48b-word-spacing );
}

.elementor-kit-49 h6 {
    color: var( --e-global-color-1252101 );
    font-family: var( --e-global-typography-37ba192-font-family ), Sans-serif;
    font-size: var( --e-global-typography-37ba192-font-size );
    font-weight: var( --e-global-typography-37ba192-font-weight );
    line-height: var( --e-global-typography-37ba192-line-height );
    letter-spacing: var( --e-global-typography-37ba192-letter-spacing );
    word-spacing: var( --e-global-typography-37ba192-word-spacing );
}

.elementor-kit-49 button,.elementor-kit-49 input[type="button"],.elementor-kit-49 input[type="submit"],.elementor-kit-49 .elementor-button {
    font-family: var( --e-global-typography-8bf0baa-font-family ), Sans-serif;
    font-size: var( --e-global-typography-8bf0baa-font-size );
    font-weight: var( --e-global-typography-8bf0baa-font-weight );
    text-transform: var( --e-global-typography-8bf0baa-text-transform );
    line-height: var( --e-global-typography-8bf0baa-line-height );
    letter-spacing: var( --e-global-typography-8bf0baa-letter-spacing );
    word-spacing: var( --e-global-typography-8bf0baa-word-spacing );
    color: var( --e-global-color-df7a7b3 );
    background-color: var( --e-global-color-21dea28f );
    border-radius: 0px 0px 0px 0px;
    padding: 0.875em 1.375em 0.875em 1.375em;
}

.elementor-kit-49 button:hover,.elementor-kit-49 button:focus,.elementor-kit-49 input[type="button"]:hover,.elementor-kit-49 input[type="button"]:focus,.elementor-kit-49 input[type="submit"]:hover,.elementor-kit-49 input[type="submit"]:focus,.elementor-kit-49 .elementor-button:hover,.elementor-kit-49 .elementor-button:focus {
    color: var( --e-global-color-df7a7b3 );
    background-color: var( --e-global-color-text );
}

.elementor-kit-49 .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
    padding: 0em 0em 0em 0em;
}

.elementor-kit-49 .elementor-column-gap-narrow > .elementor-row > .elementor-column > .elementor-element-populated {
    padding: 0em 0.5em 0em 0.5em;
}

.elementor-kit-49 .elementor-column-gap-extended > .elementor-row > .elementor-column > .elementor-element-populated {
    padding: 0em 1em 0em 1em;
}

.elementor-kit-49 .elementor-column-gap-wide > .elementor-row > .elementor-column > .elementor-element-populated {
    padding: 0em 2em 0em 2em;
}

.elementor-kit-49 .elementor-column-gap-wider > .elementor-row > .elementor-column > .elementor-element-populated {
    padding: 0em 3em 0em 3em;
}

.elementor-kit-49 .elementor-widget:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-kit-49 .ce-section-padding-initial.elementor-top-section {
    padding: 0em 0em 0em 0em;
}

.elementor-kit-49 .ce-section-padding-default.elementor-top-section {
    padding: 3em 5em 3em 5em;
}

.elementor-kit-49 .ce-section-padding-narrow.elementor-top-section {
    padding: 4em 5em 4em 5em;
}

.elementor-kit-49 .ce-section-padding-extended.elementor-top-section {
    padding: 5em 5em 5em 5em;
}

.elementor-kit-49 .ce-section-padding-wide.elementor-top-section {
    padding: 6em 5em 6em 5em;
}

.elementor-kit-49 .ce-section-padding-wider.elementor-top-section {
    padding: 7.5em 5em 7.5em 5em;
}

.elementor-kit-49 a:focus-visible {
    color: var( --e-global-color-bf91b88 );
    outline-style: none;
}

.elementor-kit-49 a.elementor-button:focus-visible {
    outline-style: none;
}

.elementor-kit-49 label {
    color: var( --e-global-color-1252101 );
    font-family: var( --e-global-typography-97f23ed-font-family ), Sans-serif;
    font-size: var( --e-global-typography-97f23ed-font-size );
    font-weight: var( --e-global-typography-97f23ed-font-weight );
    line-height: var( --e-global-typography-97f23ed-line-height );
    letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
    word-spacing: var( --e-global-typography-97f23ed-word-spacing );
}

.elementor-kit-49 input:not([type="button"]):not([type="submit"]),.elementor-kit-49 textarea,.elementor-kit-49 .elementor-field-textual {
    font-family: var( --e-global-typography-97f23ed-font-family ), Sans-serif;
    font-size: var( --e-global-typography-97f23ed-font-size );
    font-weight: var( --e-global-typography-97f23ed-font-weight );
    line-height: var( --e-global-typography-97f23ed-line-height );
    letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
    word-spacing: var( --e-global-typography-97f23ed-word-spacing );
    color: var( --e-global-color-accent );
    background-color: var( --e-global-color-df7a7b3 );
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-6d87091 );
    border-radius: 0px 0px 0px 0px;
    padding: 0.875em 1.375em 0.875em 1.375em;
}

.elementor-kit-49 input:focus:not([type="button"]):not([type="submit"]),.elementor-kit-49 textarea:focus,.elementor-kit-49 .elementor-field-textual:focus {
    color: var( --e-global-color-text );
    background-color: var( --e-global-color-df7a7b3 );
}

.elementor-kit-49 input:not([type="button"]):not([type="submit"]):focus-visible {
    outline-style: none;
}

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1360px;
}

.e-con {
    --container-max-width: 1360px;
}

.elementor-widget:not(:last-child) {
    margin-block-end:0px;}

.elementor-element {
    --widgets-spacing: 0px 0px;
}




h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width: 1366px) {
    .elementor-kit-49 {
        --e-global-typography-primary-font-size:3rem;
        --e-global-typography-secondary-font-size: 2.25rem;
        --e-global-typography-text-font-size: 1.75rem;
        --e-global-typography-accent-font-size: 1.5rem;
        --e-global-typography-fbbc48b-font-size: 1.25rem;
        --e-global-typography-37ba192-font-size: 1.125rem;
        --e-global-typography-cb73680-font-size: 1.25rem;
        --e-global-typography-97f23ed-font-size: 1.125rem;
        --e-global-typography-4ac3fe2-font-size: 1rem;
        --e-global-typography-8bf0baa-font-size: 1.125rem;
        --e-global-typography-1ddaafb-font-size: 1rem;
        font-size: var( --e-global-typography-97f23ed-font-size );
        line-height: var( --e-global-typography-97f23ed-line-height );
        letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
        word-spacing: var( --e-global-typography-97f23ed-word-spacing );
    }

    .elementor-kit-49 h1 {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-kit-49 h2 {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-kit-49 h3 {
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-kit-49 h4 {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-49 h5 {
        font-size: var( --e-global-typography-fbbc48b-font-size );
        line-height: var( --e-global-typography-fbbc48b-line-height );
        letter-spacing: var( --e-global-typography-fbbc48b-letter-spacing );
        word-spacing: var( --e-global-typography-fbbc48b-word-spacing );
    }

    .elementor-kit-49 h6 {
        font-size: var( --e-global-typography-37ba192-font-size );
        line-height: var( --e-global-typography-37ba192-line-height );
        letter-spacing: var( --e-global-typography-37ba192-letter-spacing );
        word-spacing: var( --e-global-typography-37ba192-word-spacing );
    }

    .elementor-kit-49 button,.elementor-kit-49 input[type="button"],.elementor-kit-49 input[type="submit"],.elementor-kit-49 .elementor-button {
        font-size: var( --e-global-typography-8bf0baa-font-size );
        line-height: var( --e-global-typography-8bf0baa-line-height );
        letter-spacing: var( --e-global-typography-8bf0baa-letter-spacing );
        word-spacing: var( --e-global-typography-8bf0baa-word-spacing );
    }

    .elementor-kit-49 .ce-section-padding-default.elementor-top-section {
        padding: 3em 3.5em 3em 3.5em;
    }

    .elementor-kit-49 .ce-section-padding-narrow.elementor-top-section {
        padding: 4em 3.5em 4em 3.5em;
    }

    .elementor-kit-49 .ce-section-padding-extended.elementor-top-section {
        padding: 5em 3.5em 5em 3.5em;
    }

    .elementor-kit-49 .ce-section-padding-wide.elementor-top-section {
        padding: 6em 3.5em 6em 3.5em;
    }

    .elementor-kit-49 .ce-section-padding-wider.elementor-top-section {
        padding: 7.5em 3.5em 7.5em 3.5em;
    }

    .elementor-kit-49 label {
        font-size: var( --e-global-typography-97f23ed-font-size );
        line-height: var( --e-global-typography-97f23ed-line-height );
        letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
        word-spacing: var( --e-global-typography-97f23ed-word-spacing );
    }

    .elementor-kit-49 input:not([type="button"]):not([type="submit"]),.elementor-kit-49 textarea,.elementor-kit-49 .elementor-field-textual {
        font-size: var( --e-global-typography-97f23ed-font-size );
        line-height: var( --e-global-typography-97f23ed-line-height );
        letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
        word-spacing: var( --e-global-typography-97f23ed-word-spacing );
    }
}

@media(max-width: 1200px) {
    .elementor-kit-49 {
        --e-global-typography-primary-font-size:3rem;
        --e-global-typography-secondary-font-size: 2.25rem;
        --e-global-typography-text-font-size: 1.75rem;
        --e-global-typography-accent-font-size: 1.5rem;
        --e-global-typography-fbbc48b-font-size: 1.25rem;
        --e-global-typography-37ba192-font-size: 1.125rem;
        --e-global-typography-cb73680-font-size: 1.25rem;
        --e-global-typography-97f23ed-font-size: 1.125rem;
        --e-global-typography-4ac3fe2-font-size: 1rem;
        --e-global-typography-8bf0baa-font-size: 1.125rem;
        --e-global-typography-1ddaafb-font-size: 1rem;
    }
}

@media(max-width: 1024px) {
    .elementor-kit-49 {
        --e-global-typography-primary-font-size:2.75rem;
        --e-global-typography-secondary-font-size: 2rem;
        --e-global-typography-text-font-size: 1.625rem;
        --e-global-typography-accent-font-size: 1.375rem;
        --e-global-typography-fbbc48b-font-size: 1.25rem;
        --e-global-typography-37ba192-font-size: 1rem;
        --e-global-typography-cb73680-font-size: 1.25rem;
        --e-global-typography-97f23ed-font-size: 1.125rem;
        --e-global-typography-4ac3fe2-font-size: 1rem;
        --e-global-typography-8bf0baa-font-size: 1.125rem;
        --e-global-typography-1ddaafb-font-size: 1rem;
        font-size: var( --e-global-typography-97f23ed-font-size );
        line-height: var( --e-global-typography-97f23ed-line-height );
        letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
        word-spacing: var( --e-global-typography-97f23ed-word-spacing );
    }

    .elementor-kit-49 h1 {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-kit-49 h2 {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-kit-49 h3 {
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-kit-49 h4 {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-49 h5 {
        font-size: var( --e-global-typography-fbbc48b-font-size );
        line-height: var( --e-global-typography-fbbc48b-line-height );
        letter-spacing: var( --e-global-typography-fbbc48b-letter-spacing );
        word-spacing: var( --e-global-typography-fbbc48b-word-spacing );
    }

    .elementor-kit-49 h6 {
        font-size: var( --e-global-typography-37ba192-font-size );
        line-height: var( --e-global-typography-37ba192-line-height );
        letter-spacing: var( --e-global-typography-37ba192-letter-spacing );
        word-spacing: var( --e-global-typography-37ba192-word-spacing );
    }

    .elementor-kit-49 button,.elementor-kit-49 input[type="button"],.elementor-kit-49 input[type="submit"],.elementor-kit-49 .elementor-button {
        font-size: var( --e-global-typography-8bf0baa-font-size );
        line-height: var( --e-global-typography-8bf0baa-line-height );
        letter-spacing: var( --e-global-typography-8bf0baa-letter-spacing );
        word-spacing: var( --e-global-typography-8bf0baa-word-spacing );
    }

    .elementor-kit-49 .ce-section-padding-initial.elementor-top-section {
        padding: 0em 0em 0em 0em;
    }

    .elementor-kit-49 .ce-section-padding-default.elementor-top-section {
        padding: 3em 2.5em 3em 2.5em;
    }

    .elementor-kit-49 .ce-section-padding-narrow.elementor-top-section {
        padding: 4em 2.5em 4em 2.5em;
    }

    .elementor-kit-49 .ce-section-padding-extended.elementor-top-section {
        padding: 5em 2.5em 5em 2.5em;
    }

    .elementor-kit-49 .ce-section-padding-wide.elementor-top-section {
        padding: 6em 2.5em 6em 2.5em;
    }

    .elementor-kit-49 .ce-section-padding-wider.elementor-top-section {
        padding: 7.5em 2.5em 7.5em 2.5em;
    }

    .elementor-kit-49 label {
        font-size: var( --e-global-typography-97f23ed-font-size );
        line-height: var( --e-global-typography-97f23ed-line-height );
        letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
        word-spacing: var( --e-global-typography-97f23ed-word-spacing );
    }

    .elementor-kit-49 input:not([type="button"]):not([type="submit"]),.elementor-kit-49 textarea,.elementor-kit-49 .elementor-field-textual {
        font-size: var( --e-global-typography-97f23ed-font-size );
        line-height: var( --e-global-typography-97f23ed-line-height );
        letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
        word-spacing: var( --e-global-typography-97f23ed-word-spacing );
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width: 767px) {
    .elementor-kit-49 {
        --e-global-typography-primary-font-size:2.25rem;
        --e-global-typography-secondary-font-size: 1.75rem;
        --e-global-typography-text-font-size: 1.5rem;
        --e-global-typography-accent-font-size: 1.25rem;
        --e-global-typography-fbbc48b-font-size: 1.125rem;
        --e-global-typography-37ba192-font-size: 1rem;
        --e-global-typography-cb73680-font-size: 1.125rem;
        --e-global-typography-97f23ed-font-size: 1rem;
        --e-global-typography-4ac3fe2-font-size: 0.9375rem;
        --e-global-typography-8bf0baa-font-size: 1rem;
        --e-global-typography-1ddaafb-font-size: 0.9375rem;
        font-size: var( --e-global-typography-97f23ed-font-size );
        line-height: var( --e-global-typography-97f23ed-line-height );
        letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
        word-spacing: var( --e-global-typography-97f23ed-word-spacing );
    }

    .elementor-kit-49 h1 {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-kit-49 h2 {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-kit-49 h3 {
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-kit-49 h4 {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-49 h5 {
        font-size: var( --e-global-typography-fbbc48b-font-size );
        line-height: var( --e-global-typography-fbbc48b-line-height );
        letter-spacing: var( --e-global-typography-fbbc48b-letter-spacing );
        word-spacing: var( --e-global-typography-fbbc48b-word-spacing );
    }

    .elementor-kit-49 h6 {
        font-size: var( --e-global-typography-37ba192-font-size );
        line-height: var( --e-global-typography-37ba192-line-height );
        letter-spacing: var( --e-global-typography-37ba192-letter-spacing );
        word-spacing: var( --e-global-typography-37ba192-word-spacing );
    }

    .elementor-kit-49 button,.elementor-kit-49 input[type="button"],.elementor-kit-49 input[type="submit"],.elementor-kit-49 .elementor-button {
        font-size: var( --e-global-typography-8bf0baa-font-size );
        line-height: var( --e-global-typography-8bf0baa-line-height );
        letter-spacing: var( --e-global-typography-8bf0baa-letter-spacing );
        word-spacing: var( --e-global-typography-8bf0baa-word-spacing );
    }

    .elementor-kit-49 .ce-section-padding-initial.elementor-top-section {
        padding: 0em 0em 0em 0em;
    }

    .elementor-kit-49 .ce-section-padding-default.elementor-top-section {
        padding: 2em 2em 2em 2em;
    }

    .elementor-kit-49 .ce-section-padding-narrow.elementor-top-section {
        padding: 3em 2em 3em 2em;
    }

    .elementor-kit-49 .ce-section-padding-extended.elementor-top-section {
        padding: 4em 2em 4em 2em;
    }

    .elementor-kit-49 .ce-section-padding-wide.elementor-top-section {
        padding: 5em 2em 5em 2em;
    }

    .elementor-kit-49 .ce-section-padding-wider.elementor-top-section {
        padding: 6em 2em 6em 2em;
    }

    .elementor-kit-49 label {
        font-size: var( --e-global-typography-97f23ed-font-size );
        line-height: var( --e-global-typography-97f23ed-line-height );
        letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
        word-spacing: var( --e-global-typography-97f23ed-word-spacing );
    }

    .elementor-kit-49 input:not([type="button"]):not([type="submit"]),.elementor-kit-49 textarea,.elementor-kit-49 .elementor-field-textual {
        font-size: var( --e-global-typography-97f23ed-font-size );
        line-height: var( --e-global-typography-97f23ed-line-height );
        letter-spacing: var( --e-global-typography-97f23ed-letter-spacing );
        word-spacing: var( --e-global-typography-97f23ed-word-spacing );
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}

/* Start custom CSS */
.elementor-counter .elementor-counter-number-suffix {
    margin-left: -8px;
}

.elementor-icon-list-items .elementor-icon-list-item {
    position: relative;
}

.elementor-icon-list-items .elementor-icon-list-icon {
    position: absolute;
    top: 7px;
    left: 0;
}

.elementor-icon-list-items .elementor-icon-list-text {
    margin-left: 24px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .team-grid-card .team-grid-card__inner-content {
        height: 150px !important;
    }

    .team-grid-card .team-grid-card__inner-content-overlay {
        height: 150px !important;
    }
}

.elementor-testimonial__name {
    margin-left: -20px;
}

.elementor-testimonial__title {
    margin-left: -20px;
    margin-top: 8px;
}

.elementor-swiper-button {
    top: 33%;
}

@media only screen and (max-width: 1025px) {
    .elementor-swiper-button-prev {
        left: -20px !important;
    }

    .elementor-swiper-button-next {
        right: -20px !important;
    }
}

.elementor-nav-menu .sub-arrow {
    padding: 10px 0 10px 6px;
}

/* End custom CSS */
